.trendyProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 85px 0;
  padding: 0 160px;
  gap: 40px;
}

.trendyProducts h2 {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 500;
}

.trendyProducts h2 span {
  font-weight: 700;
}

.trendyMainContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 30px;
  width: 100%;
}

.discoverMore a {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  position: relative;
  display: inline-block;
}

.discoverMore a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 60%;
  border-bottom: 2px solid black;
  transition: width 0.2s ease;
}

.discoverMore a:hover::after {
  width: 100%;
}

@media screen and (max-width: 1210px) {
  .trendyProducts {
    padding: 0 60px;
  }

  .trendyProducts h2 {
    font-size: 26px;
  }
}

@media screen and (max-width: 768px) {
  .trendyMainContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
  }
}

@media screen and (max-width: 450px) {
  .trendyProducts {
    padding: 0 15px;
  }

  .trendyMainContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 14px;
  }
}
